/* src/components/MovieList.css */

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 45%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

div {
  padding: 10px;
}

strong {
  font-size: 18px;
}

p {
  margin: 8px 0;
  color: #666;
}

/* src/App.css */

.App {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
